## Data Types

![Data Types](datatypes.jpg)

- Numerical
    - Integer
    - Float
    - complex
- String
- List
- Tuple
- Dictionary
- Set
- Boolean

In [8]:
a=100
print(a)
print(type(a))
b="100"
print(b)
print(type(b))
c='100'
print(c)
print(type(c))
d=100.0
print(type(d))
print(d)
e="100.0"
print(e)
print(type(e))
f=100+5j
print(f)
print(type(f))
g=50>60
print(g)
print(type(g))
f1="100+5j"
print(f1)
print(type(f1))

100
<class 'int'>
100
<class 'str'>
100
<class 'str'>
<class 'float'>
100.0
100.0
<class 'str'>
(100+5j)
<class 'complex'>
False
<class 'bool'>
100+5j
<class 'str'>

# String
- String is defined as either single quote r double quote
-

In [9]:
mystring="a"
print(mystring)
print(type(mystring))

a
<class 'str'>

In [10]:
mystring1='b'
print(mystring1)
print(type(mystring1))

b
<class 'str'>

In [11]:
mystr="123456789"
print(mystr)
print(type(mystr))

123456789
<class 'str'>

In [12]:
mystr2="abcd1234efgh!@#$%^"
print(mystr2)
print(type(mystr2))

abcd1234efgh!@#$%^
<class 'str'>

In [13]:
mystr3= abcd
print(mystr3)
print(type(mystr3))

NameError: name 'abcd' is not defined

In [14]:
z=100

In [15]:
x=z

In [16]:
x

100

In [17]:
mystr2="abcd"
mystr2

'abcd'

In [18]:
abcd=mystr2

In [19]:
abcd

'abcd'

In [20]:
mystr2

'abcd'

In [21]:
abcd

'abcd'

In [22]:
z

100

In [23]:
z

100

In [24]:
z

100

# Dynamically 
- input()
- input("Enter your message")

In [31]:
dynamic=input()

100

In [32]:
dynamic

'100'

In [33]:
print(type(dynamic))

<class 'str'>

In [38]:
string=input("Enter any string")

Enter any stringxyz

In [39]:
string

'xyz'

In [40]:
string

'xyz'

In [41]:
name=input("enter your name")

enter your nameIndu

In [42]:
name

'Indu'

## String Concatination(+)

In [10]:
m="abcd"
n=1234

In [11]:
m+n

TypeError: can only concatenate str (not "int") to str

In [12]:
x=100
y=200
x+y # (add)

300

In [13]:
x1="ab"
y1="yz"
x1+y1 # (concatinate)

'abyz'

In [14]:
name=input("enter your name     " )
number=input("enter your number")
name + number

enter your name     Indupriya
enter your number36

'Indupriya36'

In [18]:
join=("This is myname:  " +name+ "  This is my number  " +number)

In [19]:
join

'This is myname:  Indupriya  This is my number  36'

# Integer Dynamic

In [43]:
integer=100

In [44]:
integer

100

In [1]:
integer1=int(input("enter any number"))

enter any number100

In [2]:
integer1

100

In [3]:
print(type(integer1))

<class 'int'>

In [4]:
interger2=int(input("enter any value")) 
# here we gave in data type and input value gave string value so it becpome error

enter any valueabcd

ValueError: invalid literal for int() with base 10: 'abcd'

In [6]:
integer3=int(input("enter any numerical value"))
# Here we defint int value but we gave float value so float value is int value so it shows error

enter any numerical value100.0

ValueError: invalid literal for int() with base 10: '100.0'

In [7]:
myfloat=float(input("enter any numerical value"))

enter any numerical value100

In [8]:
myfloat

100.0

## List Data type

- It is defined as a square brackets[]
- It supports hetrogeneous datatypes(different datatypes) also it seperated by cammas
-